h1 {
    color: hotpink;
    text-align: center;
}
h3 {
    text-align: certer;
}
ul {
    font-size: 14px;
    color:;
}
ol {
    font-size: 18px;
    color:;
}
table {
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
}
th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}
th {
    background-color: HoneyDew;
